<?php

/**
 * Sample codes, to use this LAME Class.
 * For production codes, use PSR4 autoloading!
 */

error_reporting(E_ALL);
ini_set('display_errors', 1);

require __DIR__ . '/../src/VdoCipherInterface.php';
require __DIR__ . '/../src/VdoCipher.php';
require __DIR__ . '/../src/Request.php';

use Gemblue\VdoCipherProxy\VdoCipher;

$VdoCipher = new VdoCipher({LINK}, {token});
$result = $VdoCipher->getOtpPlaybackInfo([
    "whitelisthref" => "codepolitan.com",
    "ttl" => 3000,
    "annotate" => [
        "type" => "rtext",
        "text" => "Codepolitan", 
        "alpha" => "0.60",
        "color" => "0xFF0000",
        "size" => "15",
        "interval" => "5000"
    ]
]);

print_r($result);
